<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.xss.mobile">

    <uses-sdk
        android:minSdkVersion="18"
        tools:overrideLibrary="android.support.test.uiautomator.v18" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" /> <!-- 定时器 -->
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" /> <!-- 声明使用OpenGL ES 20 -->
    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true" />

    <supports-gl-texture android:name="GL_OES_compressed_ETC1_RGB8_texture" />
    <supports-gl-texture android:name="GL_OES_compressed_paletted_texture" />

    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".fragment.tab.HomeTabActivity"></activity>
        <activity android:name=".MainActivity"> <!-- MainActivity -->
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".md.MdMainActivity" />

        <service android:name=".service.HelloService" />
        <service android:name=".service.HelloIntentService" />

        <activity android:name=".activity.BindingActivity" />

        <service android:name=".service.LocalBindService" />
        <service android:name=".service.LocalStartService" />
        <service
            android:name=".service.RemoteService"
            android:exported="true"
            android:process=":remote" />

        <activity android:name=".activity.XmlParserActivity" />
        <activity android:name=".activity.RxJavaTestActivity" />
        <activity android:name=".activity.WebViewActivity" />
        <activity android:name=".activity.photo.GetPictureActivity" />
        <activity android:name=".activity.BitmapTestActivity" />
        <activity android:name=".activity.BookListActivity" />
        <activity android:name=".activity.ComposeViewTestActivity" />
        <activity android:name=".activity.bitmap.ViewPagerBitmapTestActivity" />
        <activity android:name=".activity.bitmap.GridViewBitmapTestActivity" />
        <activity android:name=".activity.opengl.OpenGLES20Activity" />
        <activity android:name=".activity.animation.ViewAnimationActivity" />
        <activity android:name=".activity.network.NetWorkTestActivity" />
        <activity android:name=".activity.network.SettingsActivity">
            <intent-filter>
                <action android:name="android.intent.action.MANAGE_NETWORK_USAGE" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.IntentServiceTestActivity" />

        <service
            android:name=".service.RSSPullIntentService"
            android:exported="false" />
        <service android:name=".activity.broadcast.MyService" />

        <activity android:name=".activity.ViewStubTestActivity" />
        <activity android:name=".activity.okhttp.OkHttpTestActivity" />
        <activity android:name=".activity.LooperTestActivity" /> <!-- <activity android:name=".activity.jnitest.JniTestActivity" /> -->
        <activity
            android:name=".activity.launchmode.FirstActivity"
            android:launchMode="singleTask" />
        <activity android:name=".activity.launchmode.SecondActivity" />
        <activity android:name=".activity.launchmode.ThreeActivity" />
        <activity
            android:name=".activity.customview.LeanTextViewActivity"
            android:theme="@android:style/Theme.NoTitleBar" />
        <activity android:name=".activity.customview.LeanTestActivity" />
        <activity android:name=".activity.photo.ChoosePhotoActivity" />
        <activity
            android:name=".activity.ZxingCodeActivity"
            android:theme="@android:style/Theme.NoTitleBar" />
        <activity android:name=".activity.annotation.AnnotationTestActivity" />
        <activity android:name=".upload.XUtilTestActivity" /> <!-- <activity android:name=".launchmode.A1Activity" /> -->
        <activity android:name=".launchmode.A2Activity" />
        <activity android:name=".launchmode.A3Activity" />
        <activity android:name=".launchmode.B1Activity" />
        <activity android:name=".launchmode.B2Activity" />
        <activity android:name=".activity.ScrollViewTestActivity" />
        <activity android:name=".activity.customview.FrameLayoutTestActivity" />
        <activity android:name=".activity.eventbus.EventbusTestActivity" />
        <activity android:name=".activity.network.AutoResumeDownloadActivity" />
        <activity android:name=".activity.view.ViewEventDispatchActivity" />
        <activity android:name=".activity.TestActivity" />
        <activity android:name=".activity.broadcast.BroadcastTestActivity" />

        <service android:name=".activity.broadcast.MyIntentService" /> <!-- ServiceA 运行在单独的线程中 -->
        <service
            android:name=".service.multiprocess.ServiceA"
            android:process=":serviceA">
            <intent-filter>
                <action android:name="com.xss.mobile.STOP_SERVICE_A" />
            </intent-filter>
        </service>
        <service android:name=".service.multiprocess.ServiceB" /> <!-- 1. Service被杀死，通过广播重启 -->
        <receiver android:name=".receiver.BootBroadcastReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.USER_PRESENT" />
                <action android:name="com.xss.mobile.RESTART_SERVICE" />
            </intent-filter>
        </receiver>

        <activity android:name=".activity.customview.MultiLabelActivity" />
        <activity android:name=".activity.scrollconflict.ScrollConflictActivity" />
        <activity android:name=".activity.customview.ConstraintLayoutLearnActivity" />
        <activity android:name=".activity.memorytest.MemoryTabTestActivity" /> <!-- 兼容 Android N -->
        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.xss.mobile.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>

        <activity android:name=".activity.memorytest.ListViewTestActivity" />
        <activity android:name=".activity.greendao.GreenDaoTextActivity" />
        <activity
            android:name=".Main2Activity"
            android:windowSoftInputMode="adjustResize" />
        <activity android:name=".activity.countdown.TimeCountDownActivity" />
        <activity android:name=".activity.scrollconflict.ScrollViewAndRecyclerViewActivity" />
        <activity android:name=".activity.retrofit.RetrofitTestActivity" />
        <activity android:name=".activity.okhttp.InterceptorTestActivity" />
        <activity android:name=".activity.rxjava.RxJavaTestActivity" />
        <activity android:name=".activity.scrollconflict.ViewPagerConflictActivity" />
        <activity android:name=".activity.dagger.DaggerTestActivity" />
        <activity android:name=".activity.dagger2.DaggerTestActivity" />
        <activity android:name=".activity.mvp.CommonFragmentActivity" /> <!-- <activity android:name=".md.MdMainActivity"></activity> -->
        <activity android:name=".md.CoordinatorTestActivity" />
        <activity android:name=".activity.dagger2.DaggerTestScopeActivity" />
        <activity android:name=".activity.databinding.DatabindingTestActivity" />
        <activity
            android:name=".activity.databinding.dbinding.CustomBindingActivity"
            android:label="@string/title_activity_custom_binding"
            android:theme="@style/AppTheme" />
        <activity android:name=".activity.annotation.IntDefTestActivity" />
        <activity android:name=".activity.polling.PollingThreadTestActivity" />
        <activity android:name=".activity.databinding.senior.CustomSetterBindingAdapterTestActivity" />
        <activity android:name=".activity.alarm.AlarmManagerTestActivity" />

        <receiver android:name=".activity.alarm.AlarmBroadcastReceiver">
            <intent-filter android:priority="10000">
                <action android:name="com.xss.mobiles.ACTION_CHECK_POLLING" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
                <action android:name="android.intent.action.TIME_SET" />
                <action android:name="android.intent.action.TIMEZONE_CHANGED" />
                <action android:name="android.intent.action.PROXY_CHANGE" />
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
                <action android:name="android.intent.action.SCREEN_ON" />
                <action android:name="android.intent.action.SCREEN_OFF" />
                <action android:name="android.intent.action.USER_PRESENT" />
            </intent-filter>
        </receiver>

        <activity android:name=".hook.HookClickListenerActivity" />
    </application>

</manifest>